{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <div class="container-fluid ml-4">
        <h1 class="text-center my-4">{{ 'episode.new'|trans }}</h1>

        {{ include('episode/_form.html.twig', {'button_label': 'add'|trans }) }}

        <a href="{{ path('episode_index') }}">{{ 'back_list'|trans }}</a>
    </div>
{% endblock %}
