$primary: #22223B;
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$secondary-color: #E0CA6B;
$light-color: #FBF9F9;

$title-font: 'Goldman', cursive;
$text-font: 'Roboto', sans-serif;

body {
    font-family: $text-font;
}

h1, h2 {
    font-family: $title-font;
    color: $primary;
}

.card-title {
    font-family: $text-font;
    font-size: 1.5rem;
}

.card-subtitle {
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 60vw;
}

.btn-primary:hover {
    background-color: lighten($primary, 15%);
}

.poster {
    height: 50vh;
}

@import "navbar.scss";